manifest {
    name = 'Geekbench 5 Synthetic Benchmarking'
    description = ''
    version = '0.0.1'
    author = 'Matt Vaughn <mwvaughn@amazon.com>'
    nextflowVersion = '>=21.04.0'
}

params {
    geekbench_container = "davidsarkany/geekbench"
}

profiles {

    docker {
		docker {
			enabled = true
		}
    }

	c5 {
		process.executor = 'awsbatch'
		process.queue = 'Nfon_demandc5Queue'
	}
	
	c5_spot {
		process.executor = 'awsbatch'
		process.queue = 'NfSpotc5Queue'
	}

	m5 {
		process.executor = 'awsbatch'
		process.queue = 'Nfon_demandm5Queue'
	}

	m5_spot {
		process.executor = 'awsbatch'
		process.queue = 'NfSpotm5Queue'
	}

	r5 {
		process.executor = 'awsbatch'
		process.queue = 'Nfon_demandr5Queue'
	}

	r5_spot {
		process.executor = 'awsbatch'
		process.queue = 'NfSpotr5Queue'
	}

	c6 {
		process.executor = 'awsbatch'
		process.queue = 'Nfon_demandc6iQueue'
	}

	m6 {
		process.executor = 'awsbatch'
		process.queue = 'Nfon_demandm6iQueue'
	}

	r6 {
		process.executor = 'awsbatch'
		process.queue = 'Nfon_demandr6iQueue'
	}

	hpc6a {
		process.executor = 'awsbatch'
		process.queue = 'Nfon_demandhpc6aQueue'
	}

}


aws {
    batch {
        cliPath = "/opt/aws-cli/bin/aws"
		maxParallelTransfers = 8
		maxTransferAttempts = 8
    }
}
